<link href="TodoListStyle.css" type="text/css" rel="stylesheet">

<h1 class="titles">TodoList</h1>

    <h2 class="subheading">Enter tasks</h2>

        <form action="/index" method="post" class= "firstTask">
            Task: <input type="text" value="" name="NewTask"/>
            <button  class="Addbutton" id="TaskButton" onclick= "submit"  >Add</button>
        </form>

        <form action="/tasks" method="get" class="Alltasks">
             <input class="viewItems" id="ShowItems" type="submit" name="AllTasks" value="Show Items"></input>
        </form>
        <br>
        <form action="/logout"><input type="submit" id="logout" name="logOut" value="Logout"/></form>
      
        <ul class="TasksAdded">
        {{#each alltasks}}
                <li>{{id}}. {{content}}</li>
                <form action="/complete" method="post"> <input  id="comp" class='complete' type="submit" value="Completed" name="completed" > </input> </form> 
                <form action="/delete" method="post"><input  name="delete" class="deleted" type="submit" value="Delete"> </input> </form> 
        {{/each}}
        </ul>
