
    <link href="login.css" type="text/css" rel="stylesheet"> 


        <h1 class="titles">TodoList</h1>

        <h2> Login </h2>
         
            <form action="/login" method="post">
                Username:<input type="text" id="UserId" name="username"/> <input type="submit" value="LogIn"/>
            </form>
        </h4> 
    <form action="/register" method="post">
        New Here? <button class="NewUser" id="Register" onclick="">Register</button>

    </form>
