<link href="register.css" type="text/css" rel="stylesheet"> 

 <h1 class="titles">TodoList</h1>

        <h2> Register </h2>
         
            <form action="/registerNew" method="post">
                Username:<input type="text" id="UserId" name="username"/> <input type="submit" value="SignUp"/>
            </form>